entryPoints:
  web:
    address: :6000
    forwardedHeaders:
      insecure: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

# vim: set syntax=yaml sw=2 expandtab:
