version: '3.5'
services:
  bitwarden_app:
    container_name: bitwarden_app
    image: vaultwarden/server:latest
    restart: unless-stopped
    networks:
      - bitwarden
    ports:
      - 5000:80
    volumes:
      - ./data/app:/data
    environment:
      SIGNUPS_ALLOWED: 'false'
      DATABASE_URL: 'postgresql://user:{{ bitwarden_postgres_password }}@bitwarden_postgres:5432/database'

  bitwarden_postgres:
    container_name: bitwarden_postgres
    image: postgres:13
    restart: unless-stopped
    networks:
      - bitwarden
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: '{{ bitwarden_postgres_password }}'
      POSTGRES_USER: 'user'
      POSTGRES_DB: 'database'

networks:
  bitwarden:
    name: bitwarden
