version: '3.5'
services:
  bitwarden:
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - ./data/app:/data
    environment:
      SIGNUPS_ALLOWED: 'false'
      DATABASE_URL: 'postgresql://user:{{ bitwarden_postgres_password }}@postgres:5432/database'
    labels:
      - "traefik.http.routers.bitwarden.rule=Host(`bitwarden.{{ hw_url }}`)"
      - "traefik.enable=true"

  postgres:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: '{{ bitwarden_postgres_password }}'
      POSTGRES_USER: 'user'
      POSTGRES_DB: 'database'

# vim: set syntax=yaml sw=2 expandtab:
