version: "3.5"
services:
  shlink_webapp:
    image: shlinkio/shlink-web-client:stable
    restart: unless-stopped
    depends_on:
      - shlink_backend
    labels:
      - "traefik.http.routers.shlink_webapp.rule=Host(`shlink-admin.{{ hw_url }}`)"
      - "traefik.enable=true"

  shlink_backend:
    image: shlinkio/shlink:stable
    restart: unless-stopped
    depends_on:
      - shlink_postgres
    environment:
      - "DEFAULT_DOMAIN=shlink.hunterwittenborn.com"
      - "USE_HTTPS=false"
      - "GEOLITE_LICENSE_KEY={{ shlink_geolite_license_key }}"
      - "DB_DRIVER=postgres"
      - "DB_NAME=database"
      - "DB_USER=user"
      - "DB_PASSWORD={{ shlink_postgres_password }}"
      - "DB_HOST=shlink_postgres"
      - "AUTO_RESOLVE_TITLES=true"
    labels:
      - "traefik.http.routers.shlink_backend.rule=Host(`shlink.{{ hw_url }}`)"
      - "traefik.enable=true"

  shlink_postgres:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - "POSTGRES_USER=user"
      - "POSTGRES_PASSWORD={{ shlink_postgres_password }}"
      - "POSTGRES_DB=database"

# vim: set syntax=yaml sw=2 expandtab:
