version: '3.5'
services:
  nextcloud_app:
    container_name: nextcloud_app
    image: nextcloud:stable
    restart: unless-stopped
    volumes:
      - ./data/app:/var/www/html
    environment:
      # Database
      POSTGRES_DB: 'database'
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: '{{ nextcloud_postgres_password }}'
      POSTGRES_HOST: 'nextcloud_postgres'

      # PROXY
      OVERWRITEPROTOCOL: 'https'

      # Other
      NEXTCLOUD_TRUSTED_DOMAINS: 'nextcloud.hunterwittenborn.com'
    labels:
      - "traefik.http.routers.nextcloud_app.rule=Host(`nextcloud.{{ hw_url }}`)"
      - "traefik.enable=true"

  nextcloud_postgres:
    container_name: nextcloud_postgres
    image: postgres:13
    restart: unless-stopped
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 'database'
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: '{{ nextcloud_postgres_password }}'

# vim: set syntax=yaml sw=2 expandtab:
