version: '3.5'
services:
  matrix_app:
    container_name: matrix_app
    image: matrixdotorg/synapse
    restart: unless-stopped
    volumes:
      - ./data/app:/data
    user: root
    labels:
      - "traefik.http.routers.matrix_app.rule=Host(`matrix.{{ hw_url }}`)"
      - "traefik.enable=true"

  matrix_postgres:
    container_name: matrix_postgres
    image: postgres:13
    restart: unless-stopped
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: '{{ matrix_postgres_password }}'
      POSTGRES_USER: 'user'
      POSTGRES_DB: 'database'
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --lc-collate=C --lc-ctype=C"

  # Synapse Admin
  matrix_admin:
    container_name: matrix_admin
    image: awesometechnologies/synapse-admin
    restart: unless-stopped
    labels:
      - "traefik.http.routers.matrix_admin.rule=Host(`matrix-admin.{{ hw_url }}`)"
      - "traefik.enable=true"

  # Matrix Hookshot.
  matrix-hookshot:
    image: halfshot/matrix-hookshot
    restart: unless-stopped
    volumes:
      - ./data/matrix-hookshot:/data
    labels:
      - "traefik.http.routers.matrix-hookshot.rule=Host(`matrix-hookshot.{{ hw_url }}`)"
      - "traefik.http.services.matrix-hookshot.loadbalancer.server.port=9000"
      - "traefik.enable=true"

  # Discord bridge.
  matrix-discord:
    image: proget.{{ hw_url }}/docker/hwittenborn/matrix-appservice-discord
    restart: unless-stopped
    volumes:
      - ./data/matrix-discord:/data

# vim: set syntax=yaml ts=2 sw=2 expandtab:
