- name: Ensure needed packages are installed
  tags: ["apt"]
  ansible.builtin.apt:
    state: present
    pkg:
      - certbot
      - cron
      - docker.io
      - docker-compose
      - drone-runner-exec
      - gpg
      - mcrcon
      - neovim
      - nginx
      - python3-certbot-dns-cloudflare
      - restic

- name: Setup NGINX
  import_tasks: setup/setup_nginx.yml
  tags: ["nginx"]

# We need to implement checking if any cron jobs are running themselves, and abort if so.
- name: Ensure systemd services are properly configured
  ansible.builtin.systemd:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  loop: [
    {"name": "cron", "state": "stopped"},
    {"name": "docker", "state": "started"},
    {"name": "nginx", "state": "started"}
  ]

# Set up services.
- name: Set up Proget
  import_tasks: services/proget.hunterwittenborn.com
  tags: ["proget"]

- name: Set up Drone
  import_tasks: services/drone.hunterwittenborn.com
  tags: ["drone"]

- name: Set up Nextcloud
  import_tasks: services/nextcloud.hunterwittenborn.com
  tags: ["nextcloud"]

- name: Set up Bitwarden
  import_tasks: services/bitwarden.hunterwittenborn.com
  tags: ["bitwarden"]

- name: Set up Matrix
  import_tasks: services/matrix.hunterwittenborn.com
  tags: ["matrix"]

- name: Set up Element
  import_tasks: services/element.hunterwittenborn.com
  tags: ["element"]

- name: Set up Shlink
  import_tasks: services/shlink.hunterwittenborn.com
  tags: ["shlink"]

- name: Set up Sshwifty
  import_tasks: services/sshwifty.hunterwittenborn.com
  tags: ["sshwifty"]

- name: Set up Apps folder
  import_tasks: services/apps
  tags: ["apps"]

- name: Set up Traefik
  import_tasks: services/traefik.hunterwittenborn.com
  tags: ["traefik"]

- name: Set up hunterwittenborn.com
  import_tasks: services/hunterwittenborn.com
  tags: ["hunterwittenborn.com"]

- name: Ensure needed systemd services are running
  ansible.builtin.systemd:
    service: "{{ item }}"
    state: started
  loop:
    - cron
    - docker
    - nginx
