version: "3.5"
services:
  java-server-app:
    image: marctv/minecraft-papermc-server
    restart: unless-stopped
    ports:
      - 25565:25565
      - 127.0.0.1:25575:25575
    volumes:
       - ./data:/data
    stdin_open: true
    tty: true

# vim: set syntax=yaml sw=2 expandtab:
