#!/usr/bin/bash
set -e

cd "$(dirname "${0}")"

send_cmd() {
    mcrcon -p '{{ minecraft_rcon_password }}' "${1}"
}

case "${1}" in
    start)
        # If the plugins directory doesn't exist, create it.
        if ! [[ -d data/plugins ]]; then
            mkdir -p data/plugins
        fi

        # Install needed plugins.
        plugins=(
            'ViaVersion.jar::https://github.com/ViaVersion/ViaVersion/releases/download/4.4.2/ViaVersion-4.4.2.jar'
            'ViaBackwards.jar::https://github.com/ViaVersion/ViaBackwards/releases/download/4.4.2/ViaBackwards-4.4.2.jar'
            'ViaRewind.jar::https://ci.viaversion.com/view/ViaRewind/job/ViaRewind/lastSuccessfulBuild/artifact/all/target/ViaRewind-2.0.3-SNAPSHOT.jar'
        )

        for plugin in "${plugins[@]}"; do
            output="$(echo "${plugin}" | sed 's|::.*||')"
            url="$(echo "${plugin}" | sed 's|.*::||')"

            curl "${url}" -Lo "data/plugins/${output}"
        done

        docker-compose up -d
        ;;

    stop)
        # Notify the users that the server is shutting down.
        send_cmd "say Server is shutting down in 30 seconds to run maintenance jobs. Please wrap up anything you're currently doing."
        sleep 20

        for num in {10..1}; do
            send_cmd "say Shutting down in ${num}..."
            sleep 1
        done

        send_cmd "say Shutting down to run maintenance jobs. We'll be back in a few minutes."
        sleep 5 # Wait a little bit more so users have a chance to read the message.

        docker-compose down
        ;;

    update)
        docker-compose pull
        ;;
esac

# vim: set sw=4 expandtab:
