#!/usr/bin/bash
set -e

cd "$(dirname "${0}")"

case "${1}" in
    start)
        # If the plugins directory doesn't exist, create it.
        if ! [[ -d data/plugins ]]; then
            mkdir -p data/plugins
        fi

        # Install needed plugins.
        plugins=(
            'ViaVersion.jar::https://github.com/ViaVersion/ViaVersion/releases/download/4.3.1/ViaVersion-4.3.1.jar'
            'ViaBackwards.jar::https://github.com/ViaVersion/ViaBackwards/releases/download/4.3.0/ViaBackwards-4.3.0.jar'
            'ViaRewind.jar::https://ci.viaversion.com/view/ViaRewind/job/ViaRewind/lastSuccessfulBuild/artifact/all/target/ViaRewind-2.0.3-SNAPSHOT.jar'
        )

        for plugin in "${plugins[@]}"; do
            output="$(echo "${plugin}" | sed 's|::.*||')"
            url="$(echo "${plugin}" | sed 's|.*::||')"

            curl "${url}" -Lo "data/plugins/${output}"
        done

        docker-compose up -d
        ;;

    stop)
        docker-compose down
        ;;

    update)
        docker-compose pull
        ;;
esac

# vim: set sw=4 expandtab:
