version: '3.5'
services:
  element_app:
    container_name: element_app
    image: vectorim/element-web
    volumes:
      - ./data/app/config.json:/app/config.json
    labels:
      - "traefik.http.routers.element_app.rule=Host(`element.{{ hw_url }}`)"
      - "traefik.enable=true"


# vim: set syntax=yaml sw=2 expandtab:
